<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Printing</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 15, 2001 6:24:03 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=405>
<meta name=layout-width content=614>


 <meta name="topic-status" content="In Progress">
 <meta name="topic-priority" content="0">
 <meta name="topic-time-estimate" content="0">
 <meta name="topic-comment" content="">
 <meta name="topic-id" content="Printing"><!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Printing</h1>

<p>Tell your users how to print information from In-Edit IDE. Perhaps they 
 can print reports, data, sections of their work, and more. Be sure to 
 describe all the printing options. For example:</p>

<h2>To print from In-Edit IDE</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: -6pt; margin-bottom: 6pt;">Click 
 <img src="../Printer.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 24px;
				height: 22px;
				float: none;"
		width=24
		height=22
		border=0>.</p></li>
	
	<li class=kadov-p><p style="margin-left: -6pt; margin-bottom: 6pt;">Select 
 the printing options you want.</p></li>
</ol>

<p style="margin-left: -6pt; margin-bottom: 6pt;">&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
