<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Troubleshooting</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:55:07 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=509>
<meta name=layout-width content=614>


 <meta name="topic-status" content="In Progress">
 <meta name="topic-priority" content="0">
 <meta name="topic-time-estimate" content="0">
 <meta name="topic-comment" content="">
 <meta name="topic-id" content="Troubleshooting"><!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<!--(Generated Script Links)========================================-->
<!--(Generated Code)================================================-->
<!--(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)==================-->
<!--begin!kadov{{===================================================-->
<script type="text/javascript"
		language=JavaScript1.2
		x-save-method=compute-relative
		src="../ehlpdhtm.js"></script>
<script type="text/javascript"
		language=JavaScript1.2>
<!-- 
if( typeof( kadovFilePopupInit ) != 'function' ) kadovFilePopupInit = new Function();if( typeof( kadovTextPopupInit ) != 'function' ) kadovTextPopupInit = new Function();
 //-->
</script>

<!--}}end!kadov=====================================================-->
<!--(==============================================================)-->


<!--(Resources)=====================================================-->
<!--(Generated Code)================================================-->
<!--(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)==================-->

<div class=x-popup-text id=POPUP232227578  style='display: none; position: absolute' >
<!--kadov-resources-begin{{-->
<h3>Troubleshooting steps:</h3>

<p>Ensure that:</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p>Your printer is plugged in</p></li>
	
	<li class=kadov-p><p>Your printer is turned on</p></li>
	
	<li class=kadov-p><p>The cable between your computer and your printer 
 is properly connected</p></li>
</ul>
<!--}}kadov-resources-end-->
</div>

<div class=x-popup-text id=POPUP47482927  style='display: none; position: absolute' >
<!--kadov-resources-begin{{-->
<h3>Troubleshooting steps:</h3>

<p>Ensure that:</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p>You have enough space on your hard drive.</p></li>
	
	<li class=kadov-p><p>There is not an existing document that is marked 
 read-only.</p></li>
</ul>
<!--}}kadov-resources-end-->
</div>

<!--(End Resources)=================================================-->


<h1>Troubleshooting</h1>

<p>In this topic, describe typical steps a user may take to resolve a particular 
 problem. For example:</p>

<h2><a class=dropspot
		x-use-popup=#POPUP232227578
		x-popup-type=pulldown
		href="javascript:kadovTextPopup(this)"
		id=a2><img src="../target_blue.gif"
					x-maintain-ratio=TRUE
					style="border-style: none;
							border: none;
							width: 15px;
							height: 15px;
							float: none;"
					width=15
					height=15
					border=0> I'm getting error 2402, cannot print <img 
 src="../Arrow_pink.gif"
	x-maintain-ratio=TRUE
	style="border-style: none;
			border: none;
			width: 9px;
			height: 9px;
			float: none;"
	width=9
	height=9
	border=0></a><!--begin!kadov{{--><script type="text/javascript"
											language=JavaScript1.2><!--
kadovTextPopupInit('a2');
//--></script><!--}}end!kadov--></h2>

<h2><a class=dropspot
		x-use-popup=#POPUP47482927
		x-popup-type=pulldown
		href="javascript:kadovTextPopup(this)"
		id=a3><img src="../target_blue.gif"
					x-maintain-ratio=TRUE
					style="border-style: none;
							border: none;
							width: 15px;
							height: 15px;
							float: none;"
					width=15
					height=15
					border=0> I can not save my document <img src="../Arrow_pink.gif"
	x-maintain-ratio=TRUE
	style="border-style: none;
			border: none;
			width: 9px;
			height: 9px;
			float: none;"
	width=9
	height=9
	border=0></a><!--begin!kadov{{--><script type="text/javascript"
											language=JavaScript1.2><!--
kadovTextPopupInit('a3');
//--></script><!--}}end!kadov--></h2>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
