<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Backing up</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=405>
<meta name=layout-width content=614>
<meta name=date content="11 15, 2001 6:37:18 PM">


 <meta name="topic-status" content="In Progress">
 <meta name="topic-priority" content="0">
 <meta name="topic-time-estimate" content="0">
 <meta name="topic-comment" content="">
 <meta name="topic-id" content="Backing up"><!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Backing up</h1>

<p>It's a good idea to tell users how to back up project data they create. 
 Even if your application doesn't provide an automatic backup mechanism, 
 you can tell users where to find the project files they have created and 
 how to copy them to a different location.</p>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
