<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Working with ...</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name="template" content="Copyright.htt">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=405>
<meta name=layout-width content=614>
<meta name=date content="11 15, 2001 6:17:33 PM">


 <meta name="topic-status" content="In Progress">
 <meta name="topic-priority" content="0">
 <meta name="topic-time-estimate" content="0">
 <meta name="topic-comment" content="">
 <meta name="topic-id" content="Working with ..."><!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Working with ...</h1>

<p>These topics will be the heart of your Help system. &quot;Using MyProduct&quot; 
 topics should describe all the tasks users can do with your product. Add 
 as many topics as you need in this area. </p>

<p class=Tip><span style="font-weight: bold;"><img src="..\Pencil.gif"
													x-maintain-ratio=TRUE
													style="border-style: none;
															border: none;
															width: 15px;
															height: 15px;
															float: none;"
													width=15
													height=15
													border=0> Tip:</span> 
 To keep topics organized for your users, you may want to place them in 
 books under the <span style="font-weight: bold;">Using MyProduct</span> 
 book in the TOC Composer. For example for a graphics program, you may 
 have books called <span style="font-style: italic;">Sizing Images</span>, 
 <span style="font-style: italic;">Using Layers</span>, and <span style="font-style: italic;">Editing 
 Images</span>, all containing topics on those subjects.</p>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
