<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>What's New</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:47:31 PM">
<meta name=topic-status content="In Progress">
<meta name=topic-priority content=0>
<meta name=topic-time-estimate content=0>
<meta name=topic-comment content>
<meta name=topic-id content="What's New in Version _X_">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=740>
<meta name=layout-width content=849>
<meta name=x-ignored-words content=hotspot>


<!--(Links)=========================================================-->

<link rel="stylesheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<!--(Generated Script Links)========================================-->
<!--(Generated Code)================================================-->
<!--(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)==================-->
<!--begin!kadov{{===================================================-->
<script type="text/javascript"
		language=JavaScript1.2
		x-save-method=compute-relative
		src="ehlpdhtm.js"></script>
<script type="text/javascript"
		language=JavaScript1.2>
<!-- 
if( typeof( kadovFilePopupInit ) != 'function' ) kadovFilePopupInit = new Function();if( typeof( kadovTextPopupInit ) != 'function' ) kadovTextPopupInit = new Function();
 //-->
</script>

<!--}}end!kadov=====================================================-->
<!--(==============================================================)-->


<!--(Resources)=====================================================-->
<!--(Generated Code)================================================-->
<!--(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)==================-->

<div class=x-popup-text id=POPUP198058912  style='display: none; position: absolute' >
<!--kadov-resources-begin{{-->
<p>Text describing Feature 1</p>
<!--}}kadov-resources-end-->
</div>

<div class=x-popup-text id=POPUP197593260  style='display: none; position: absolute' >
<!--kadov-resources-begin{{-->
<p>Text describing Feature 2</p>
<!--}}kadov-resources-end-->
</div>

<div class=x-popup-text id=POPUP70842054  style='display: none; position: absolute' >
<!--kadov-resources-begin{{-->
<p>Text describing Feature 3</p>
<!--}}kadov-resources-end-->
</div>

<div class=x-popup-text id=POPUP198202043  style='display: none; position: absolute' >
<!--kadov-resources-begin{{-->
<p>Text describing Feature 4</p>
<!--}}kadov-resources-end-->
</div>

<!--(End Resources)=================================================-->


<h1>Quoi de neuf dans cette version <img src="New_pink.gif"
										x-maintain-ratio=TRUE
										style="border: none;
												width: 29px;
												height: 10px;
												float: none;
												border-style: none;
												border-style: none;"
										width=29
										height=10
										border=0> <!--kadov_tag{{<spaces>}}-->&nbsp;&nbsp;&nbsp;&nbsp;<!--kadov_tag{{</spaces>}}--></h1>

<p>This topic allows you to provide information on what's new in this release. 
 This is a useful topic to include for your users who are upgrading from 
 previous versions. If this is the first version of your product, you may 
 not need this topic. When a user clicks on one of the features listed 
 below, the description of the feature drops down below the feature name.</p>

<p style="margin-left: 0px;"><a class=dropspot
								x-use-popup=#POPUP198058912
								x-popup-type=pulldown
								href="javascript:kadovTextPopup(this)"
								id=a1>Feature 1 <img src="Arrow_pink.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 9px;
															height: 9px;
															float: none;
															border-style: none;
															border-style: none;"
													width=9
													height=9
													border=0> <!--kadov_tag{{<spaces>}}-->&nbsp;&nbsp;</a><!--begin!kadov{{--><script 
 type="text/javascript"
	language=JavaScript1.2><!--
kadovTextPopupInit('a1');
//--></script><!--}}end!kadov--><!--kadov_tag{{</spaces>}}--></p>

<p style="margin-left: 0px;"><a class=dropspot
								x-use-popup=#POPUP197593260
								x-popup-type=pulldown
								href="javascript:kadovTextPopup(this)"
								id=a2>Feature 2 <img src="Arrow_pink.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 9px;
															height: 9px;
															float: none;
															border-style: none;
															border-style: none;"
													width=9
													height=9
													border=0> </a><!--begin!kadov{{--><script 
 type="text/javascript"
	language=JavaScript1.2><!--
kadovTextPopupInit('a2');
//--></script><!--}}end!kadov--></p>

<p style="margin-left: 0px;"><a class=dropspot
								x-use-popup=#POPUP70842054
								x-popup-type=pulldown
								href="javascript:kadovTextPopup(this)"
								id=a3>Feature 3 <img src="Arrow_pink.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 9px;
															height: 9px;
															float: none;
															border-style: none;
															border-style: none;"
													width=9
													height=9
													border=0> </a><!--begin!kadov{{--><script 
 type="text/javascript"
	language=JavaScript1.2><!--
kadovTextPopupInit('a3');
//--></script><!--}}end!kadov--><!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p>

<p style="margin-left: 0px;"><a class=dropspot
								x-use-popup=#POPUP198202043
								x-popup-type=pulldown
								href="javascript:kadovTextPopup(this)"
								id=a4>Feature 4 <img src="Arrow_pink.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 9px;
															height: 9px;
															float: none;
															border-style: none;
															border-style: none;"
													width=9
													height=9
													border=0> </a><!--begin!kadov{{--><script 
 type="text/javascript"
	language=JavaScript1.2><!--
kadovTextPopupInit('a4');
//--></script><!--}}end!kadov--></p>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
