<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Accessing the Help</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=MS-HAID content="Using this Help system">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=631>
<meta name=layout-width content=802>


 <meta name="topic-status" content="In Progress">
 <meta name="topic-priority" content="0">
 <meta name="topic-time-estimate" content="0">
 <meta name="topic-comment" content="">
 <meta name="topic-id" content="Using browse sequences"><!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<!--(Generated Script Links)========================================-->
<!--(Generated Code)================================================-->
<!--(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)==================-->
<!--begin!kadov{{===================================================-->
<script type="text/javascript"
		language=JavaScript1.2
		src="../ehlpdhtm.js"
		x-save-method=compute-relative></script>
<script type="text/javascript"
		language=JavaScript1.2>
<!-- 
if( typeof( kadovInitEffects ) != 'function' ) kadovInitEffects = new Function();if( typeof( kadovInitTrigger ) != 'function' ) kadovInitTrigger = new Function();if( typeof( kadovFilePopupInit ) != 'function' ) kadovFilePopupInit = new Function();if( typeof( kadovTextPopupInit ) != 'function' ) kadovTextPopupInit = new Function();
 //-->
</script>

<!--}}end!kadov=====================================================-->
<!--(==============================================================)-->


<h1>Accessing the Help</h1>

<p>Tell your users about the different ways they can access Help. For example:</p>

<p>To find out more about how do something in In-Edit IDE, access the online 
 Help using any of the following methods.</p>

<h2>To use the Contents, Index, or Search:</h2>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p>From the <span style="font-weight: bold;">Help</span> 
 menu, select <span style="font-weight: bold;">Contents &amp; Index</span>. 
 Use the <a href="javascript:BSSCPopup('Finding_information_in_the_Help.htm');"
			id=a1>buttons</a><!--begin!kadov{{--><script type="text/javascript"
														language=JavaScript1.2><!--
kadovFilePopupInit('a1');
//--></script><!--}}end!kadov--> 
 and <a href="Moving_around_the_Help.htm">links</a> to navigate.</p></li>
</ul>

<h2>To get Help on a window or dialog: </h2>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p>On any dialog, click the <span style="font-weight: bold;">Help</span> 
 button.<br>
	<br>
	OR</p></li>
	
	<li class=kadov-p><p>Press <span style="font-weight: bold;">F1 </span>for 
 help on any program window or dialog.<br>
	<br>
	OR</p></li>
	
	<li class=kadov-p><p>Right-click and select <span style="font-weight: bold;">Help</span><span>.</span></p></li>
</ul>

<p>
<!--Metadata type="DesignerControl" startspan
<object CLASSID="clsid:A2F1FA63-C1E6-11d2-9140-006DC83B9955"
		ID=SeeAlso
		BORDER=0
		style="margin-top: 0px;
				margin-bottom: 0px;
				margin-left: 0px;
				margin-right: 0px;
				vertical-align: baseline;"
		align=bottom>
<param name="_Version" value="65536" >
<param name="_ExtentX" value="1640" >
<param name="_ExtentY" value="582" >
<param name="_StockProps" value="13" >
<param name="ForeColor" value="0" >
<param name="BackColor" value="11055248" >
<param name="UseButton" value="-1" >
<param name="ControlLabel" value="See Also" >
<param name="UseIcon" value="0" >
<param name="Items" value="Using this Help system$$**$$" >
<param name="Image" value="" >
<param name="FontInfo" value="Verdana,8,0,," >
<param name="_CURRENTFILEPATH" value="C:\Documentation\RoboHTML\Samples\ApplicationHelp\Using_this_Help_system\Accessing_the_Help.htm" >
<param name="_ID" value="SeeAlso" >
<param name="DialogDisplay" value="1" >
<param name="Frame" value="" >
<param name="Window" value="" >
<param name="ChmFile" value="" >
<param name="DisableJump" value="0" >
</object>-->
<OBJECT
  CLASSID="clsid:ADB880A6-D8FF-11CF-9377-00AA003B7A11"
  ID="SeeAlso"  TYPE="application/x-oleobject">
  <PARAM  NAME="Command"  VALUE="ALink,MENU">
  <PARAM  NAME="Button"  VALUE="Text:See Also">
  <PARAM  NAME="Font"  VALUE="Verdana,8,0,,">
  <PARAM  NAME="Frame"  VALUE="">
  <PARAM  NAME="Item1"  VALUE="">
  <PARAM  NAME="Item2"  VALUE="Using this Help system">
</OBJECT>

<!--Metadata type="DesignerControl" endspan-->
 </p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
