<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Basic features</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:48:14 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=572>
<meta name=layout-width content=783>


 <meta name="topic-status" content="In Progress">
 <meta name="topic-priority" content="0">
 <meta name="topic-time-estimate" content="0">
 <meta name="topic-comment" content="">
 <meta name="topic-id" content="Basic features of _Product_"><!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Basic features of MyProduct</h1>

<p>In this topic, you may want to provide a high level description of your 
 product, plus highlight some of the main features/benefits. </p>

<p>Key features of MyProduct include the following:</p>

<p><span style="font-weight: bold;"><img src="..\Checkbox.gif"
										x-maintain-ratio=TRUE
										style="border-style: none;
												border: none;
												width: 15px;
												height: 15px;
												float: none;
												border-style: none;"
										width=15
										height=15
										border=0> Easy to use editor</span> 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Author 
 content in an easy to use WYSIWYG editor.</p>

<p><span style="font-weight: bold;"><img src="..\Checkbox.gif"
										x-maintain-ratio=TRUE
										style="border-style: none;
												border: none;
												width: 15px;
												height: 15px;
												float: none;
												border-style: none;"
										width=15
										height=15
										border=0> Excellent project management</span> 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->A variety 
 of features keep you organized, improve your productivity, and save time.</p>

<p><span style="font-weight: bold;"><img src="..\Checkbox.gif"
										x-maintain-ratio=TRUE
										style="border-style: none;
												border: none;
												width: 15px;
												height: 15px;
												float: none;
												border-style: none;"
										width=15
										height=15
										border=0> Flexible design options</span> 
 You can start projects and design as you work or make use of templates.</p>

<p><span style="font-weight: bold;"><img src="..\Checkbox.gif"
										x-maintain-ratio=TRUE
										style="border-style: none;
												border: none;
												width: 15px;
												height: 15px;
												float: none;
												border-style: none;"
										width=15
										height=15
										border=0> <img src="..\New_pink.gif"
														x-maintain-ratio=TRUE
														style="border-style: none;
	border: none;
	width: 29px;
	height: 10px;
	float: none;
	border-style: none;"
														width=29
														height=10
														border=0></span> 
 <span style="font-weight: bold;">Customizable output</span> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->You 
 can now customize your output to match the look and feel of your application.</p>

<p><span style="font-weight: bold;"><img src="..\Checkbox.gif"
										x-maintain-ratio=TRUE
										style="border-style: none;
												border: none;
												width: 15px;
												height: 15px;
												float: none;
												border-style: none;"
										width=15
										height=15
										border=0> Custom reporting <!--kadov_tag{{<spaces>}}-->&nbsp;</span><!--kadov_tag{{</spaces>}}-->You 
 can track and report on a variety of project statistics.</p>

<p><span style="font-weight: bold;"><img src="..\Checkbox.gif"
										x-maintain-ratio=TRUE
										style="border-style: none;
												border: none;
												width: 15px;
												height: 15px;
												float: none;
												border-style: none;"
										width=15
										height=15
										border=0> <img src="..\New_pink.gif"
														x-maintain-ratio=TRUE
														style="border-style: none;
	border: none;
	width: 29px;
	height: 10px;
	float: none;
	border-style: none;"
														width=29
														height=10
														border=0></span> 
 <span style="font-weight: bold;">Import existing content</span> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Now 
 you can import a variety of files from other applications.</p>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
