<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Basic steps </title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=405>
<meta name=layout-width content=614>
<meta name=date content="11 15, 2001 6:35:44 PM">


 <meta name="topic-status" content="In Progress">
 <meta name="topic-priority" content="0">
 <meta name="topic-time-estimate" content="0">
 <meta name="topic-comment" content="">
 <meta name="topic-id" content="Basic steps"><!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Basic steps to use MyProduct</h1>

<p>In this topic, provide high-level, overview steps describing how to 
 use your product. This gives your users' the big picture on the steps 
 they will take. Be sure to tell your user if these steps must be completed 
 in order, or if they have flexibility on when to perform each step. </p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-bottom: 6pt; margin-left: -6pt;">Create 
 a plan</p></li>
</ul>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-bottom: 6pt; margin-left: -6pt;">Set 
 up the project structure</p></li>
</ul>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-bottom: 6pt; margin-left: -6pt;">Assign 
 resources</p></li>
</ul>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-bottom: 6pt; margin-left: -6pt;">Add 
 time estimates for each task</p></li>
</ul>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-bottom: 6pt; margin-left: -6pt;">Review</p></li>
</ul>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-bottom: 6pt; margin-left: -6pt;">Finalize 
 project</p></li>
</ul>

<p class=Tip><span style="font-weight: bold;"><img src="..\Pencil.gif"
													x-maintain-ratio=TRUE
													style="border-style: none;
															border: none;
															width: 15px;
															height: 15px;
															float: none;"
													width=15
													height=15
													border=0> Tip:</span> 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->You can 
 even provide links to information about how to perform each high-level 
 step.</p>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
