<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Getting Help</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 15, 2001 6:17:18 PM">
<meta name=MS-HAID content="Using this Help system">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=631>
<meta name=layout-width content=802>


 <meta name="topic-status" content="In Progress">
 <meta name="topic-priority" content="0">
 <meta name="topic-time-estimate" content="0">
 <meta name="topic-comment" content="">
 <meta name="topic-id" content="New Topic"><!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Getting Help</h1>

<p>In this topic, describe resources a user may turn to for help or more 
 information. For example:</p>

<p>There are various ways to get Help on MyProduct:</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-bottom: 6pt; margin-left: -6pt;"><a 
 href="../Using_this_Help_system/Accessing_the_Help.htm">Online application 
 Help</a><br>
	From the MyProduct <span style="font-weight: bold;">Help</span> menu, 
 select <span style="font-weight: bold;">Contents &amp; Index</span>. </p></li>
	
	<li class=kadov-p><p style="margin-bottom: 6pt; margin-left: -6pt;"><a 
 href="http://www.ehelp.com/support">Help on the Web</a><br>
	The link above takes you to the support section of our Web site where 
 you can learn about the support options available to you. </p></li>
	
	<li class=kadov-p><p style="margin-bottom: 6pt; margin-left: -6pt;"><span 
 style="margin-bottom: 6pt;"><a href="http://www.helpcommunity.ehelp.com">User 
 Communities</a><br>
	The link above takes you to the User Communities section of our Web 
 site where you can exchange answers and ideas with other users.</span></p></li>
	
	<li class=kadov-p><p style="margin-bottom: 6pt; margin-left: -6pt;"><a 
 href="../Contacting/Technical_Support.htm">Technical Support</a><br>
	The link above takes you to our technical support information.</p></li>
</ul>

<p class=Tip><span style="font-weight: bold;"><img src="..\Pencil.gif"
													x-maintain-ratio=TRUE
													style="border-style: none;
															border: none;
															width: 15px;
															height: 15px;
															float: none;"
													width=15
													height=15
													border=0> Tip:</span> 
 <!--kadov_tag{{<spaces>}}-->&nbsp;&nbsp;<!--kadov_tag{{</spaces>}}-->Edit 
 the above hyperlinks so that they point to your Web site and support resources. 
 To edit a hyperlink, double-click it. </p>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
