<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Opening projects</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=405>
<meta name=layout-width content=614>
<meta name=date content="11 15, 2001 6:17:30 PM">


 <meta name="topic-status" content="In Progress">
 <meta name="topic-priority" content="0">
 <meta name="topic-time-estimate" content="0">
 <meta name="topic-comment" content="">
 <meta name="topic-id" content="New Topic1"><!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Opening projects</h1>

<p>Tell your users how to open projects in your application. For example:</p>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-bottom: 6pt; margin-left: -6pt;">Click 
 the MyProduct icon on the desktop. The MyProduct application displays.</p></li>
	
	<li class=kadov-p><p style="margin-bottom: 6pt; margin-left: -6pt;">From 
 the <span style="font-weight: bold;">File</span> menu, select <span style="font-weight: bold;">Open</span>.</p></li>
	
	<li class=kadov-p><p style="margin-bottom: 6pt; margin-left: -6pt;">Navigate 
 to the location of your project file and select it.</p></li>
	
	<li class=kadov-p><p style="margin-bottom: 6pt; margin-left: -6pt;">Click 
 <span style="font-weight: bold;">OK</span>.</p></li>
</ol>

<p class=Tip><span style="font-weight: bold;"><img src="..\Pencil.gif"
													x-maintain-ratio=TRUE
													style="border-style: none;
															border: none;
															width: 15px;
															height: 15px;
															float: none;"
													width=15
													height=15
													border=0> Tip: <!--kadov_tag{{<spaces>}}-->&nbsp;</span>&nbsp;<!--kadov_tag{{</spaces>}}-->It's 
 a good idea to <span style="font-weight: bold;">bold</span> menu names 
 and selections in procedural steps to make it easier for your users to 
 see the key pieces of information.</p>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
