<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>System requirements</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 15, 2001 6:34:54 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=572>
<meta name=layout-width content=783>


 <meta name="topic-status" content="In Progress">
 <meta name="topic-priority" content="0">
 <meta name="topic-time-estimate" content="0">
 <meta name="topic-comment" content="">
 <meta name="topic-id" content="System Requirements"><!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>System requirements</h1>

<p>Place any system requirements for your product in this topic. </p>

<h2 style="margin-top: 9.5pt;">Hardware</h2>

<p>The minimum hardware requirements are:</p>

<!--(Table)=========================================================-->
<table x-use-null-cells
		style="x-cell-content-align: top;
				width: 61.953%;
				border-spacing: 0px;
				border-spacing: 0px;"
		cellspacing=0
		width=61.953%>
<col style="width: 45.109%;">
<col style="width: 54.891%;">

<tr style="x-cell-content-align: top;"
	valign=top>
<td style="width: 45.109%;
			padding-right: 10px;
			padding-left: 10px;
			border-bottom-style: none;
			border-right-style: none;
			border-left-style: none;
			border-top-style: none;"
	width=45.109%>
<p>CPU:</td>
<td style="width: 54.891%;
			padding-right: 10px;
			padding-left: 10px;
			border-bottom-style: none;
			border-top-style: none;
			border-right-style: none;"
	width=54.891%>
<p>Pentium III or later</td></tr>

<tr style="x-cell-content-align: top;"
	valign=top>
<td style="width: 45.109%;
			padding-right: 10px;
			padding-left: 10px;
			border-bottom-style: none;
			border-right-style: none;
			border-left-style: none;"
	width=45.109%>
<p>Memory:</td>
<td style="width: 54.891%;
			padding-right: 10px;
			padding-left: 10px;
			border-bottom-style: none;
			border-right-style: none;"
	width=54.891%>
<p>128MB or greater</td></tr>

<tr style="x-cell-content-align: top;"
	valign=top>
<td style="width: 45.109%;
			padding-right: 10px;
			padding-left: 10px;
			border-right-style: none;
			border-left-style: none;
			border-bottom-style: none;"
	width=45.109%>
<p>Available disk space:</td>
<td style="width: 54.891%;
			padding-right: 10px;
			padding-left: 10px;
			border-bottom-style: none;
			border-right-style: none;"
	width=54.891%>
<p>60MB</td></tr>
</table>

<h2>Software</h2>

<p>The minimum software requirements are:</p>

<!--(Table)=========================================================-->
<table x-use-null-cells
		style="x-cell-content-align: top;
				width: 62.458%;
				border-spacing: 0px;
				border-spacing: 0px;"
		cellspacing=0
		width=62.458%>
<col style="width: 45.283%;">
<col style="width: 54.717%;">

<tr style="x-cell-content-align: top;"
	valign=top>
<td style="width: 45.283%;
			padding-right: 10px;
			padding-left: 10px;
			border-bottom-style: none;
			border-right-style: none;
			border-left-style: none;
			border-top-style: none;"
	width=45.283%>
<p>Operating System:</td>
<td style="width: 54.717%;
			padding-right: 10px;
			padding-left: 10px;
			border-bottom-style: none;
			border-top-style: none;
			border-right-style: none;"
	width=54.717%>
<p>Windows 2000 or later</td></tr>

<tr style="x-cell-content-align: top;"
	valign=top>
<td style="width: 45.283%;
			padding-right: 10px;
			padding-left: 10px;
			border-right-style: none;
			border-left-style: none;
			border-bottom-style: none;"
	width=45.283%>
<p>Other software:</td>
<td style="width: 54.717%;
			padding-right: 10px;
			padding-left: 10px;
			border-bottom-style: none;
			border-right-style: none;"
	width=54.717%>
<p>Microsoft Word 2002 or later</td></tr>
</table>

<p style="font-weight: bold;">&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
