<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Installing</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 15, 2001 6:35:07 PM">
<meta name=topic-status content="In Progress">
<meta name=topic-priority content=0>
<meta name=topic-time-estimate content=0>
<meta name=topic-comment content>
<meta name=topic-id content="Installing _Product_">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=740>
<meta name=layout-width content=849>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Installation d'In-Edit</h1>

<p>Place installation instructions in this topic. Here are some typical 
 installation instructions:</p>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-bottom: 6pt;">Close all programs.</p></li>
</ol>

<ol start=2
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-bottom: 6pt;">Insert the CD labeled 
 <span style="font-weight: bold;">In-Edit IDE</span> into your CD-ROM drive. 
 If Auto-run is enabled on your system, the installation starts automatically 
 and you can skip steps 3 and 4.</p></li>
</ol>

<ol start=3
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-bottom: 6pt;">From the <span style="font-weight: bold;">Start</span> 
 menu, select <span style="font-weight: bold;">Run</span>.</p></li>
</ol>

<ol start=4
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-bottom: 6pt;">Type <span style="font-weight: bold;">D:\setup</span> 
 (substitute the appropriate letter of your CD-ROM drive for D).</p></li>
</ol>

<ol start=5
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-bottom: 6pt;">Follow the instructions 
 on the screen. </p></li>
</ol>

<p>By default, In-Edit IDE is installed in <span style="font-weight: bold;">C:\Program 
 Files\In-Edit IDE</span>. </p>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
