<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Moving around in</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:37:59 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=749>
<meta name=layout-width content=783>


 <meta name="topic-status" content="In Progress">
 <meta name="topic-priority" content="0">
 <meta name="topic-time-estimate" content="0">
 <meta name="topic-comment" content="">
 <meta name="topic-id" content="Moving around in _Product_"><!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<!--(Generated Script Links)========================================-->
<!--(Generated Code)================================================-->
<!--(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)==================-->
<!--begin!kadov{{===================================================-->
<script type="text/javascript"
		language=JavaScript1.2
		src="../ehlpdhtm.js"
		x-save-method=compute-relative></script>
<script type="text/javascript"
		language=JavaScript1.2>
<!-- 
if( typeof( kadovInitEffects ) != 'function' ) kadovInitEffects = new Function();if( typeof( kadovInitTrigger ) != 'function' ) kadovInitTrigger = new Function();if( typeof( kadovFilePopupInit ) != 'function' ) kadovFilePopupInit = new Function();if( typeof( kadovTextPopupInit ) != 'function' ) kadovTextPopupInit = new Function();
 //-->
</script>

<!--}}end!kadov=====================================================-->
<!--(==============================================================)-->


<!--(Maps)==========================================================-->

<map name=MAP203914485>
<area shape=rect
		coords="7, 139, 226, 471"
		href="javascript:BSSCPopup('../Popup_Topics/Project_Manager.htm');"
		id=area4><!--begin!kadov{{--><script type="text/javascript"
											language=JavaScript1.2><!--
kadovFilePopupInit('area4');
//--></script><!--}}end!kadov-->

<area shape=rect
		coords="230, 105, 516, 438"
		href="javascript:BSSCPopup('../Popup_Topics/WYSIWYG_Editor.htm');"
		id=area5><!--begin!kadov{{--><script type="text/javascript"
											language=JavaScript1.2><!--
kadovFilePopupInit('area5');
//--></script><!--}}end!kadov-->

<area shape=rect
		coords="3, 2, 516, 99"
		href="javascript:BSSCPopup('../Popup_Topics/Toolbar.htm');"
		id=area6><!--begin!kadov{{--><script type="text/javascript"
											language=JavaScript1.2><!--
kadovFilePopupInit('area6');
//--></script><!--}}end!kadov-->
</map>

<h1>Moving around in In-Edit IDE</h1>

<p>You may want to provide a visual overview of the main areas of your 
 program. For example, In-Edit IDE consists of these main areas:</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-left: -6pt; margin-bottom: 6pt;">The 
 Project Manager is on the left. In the Project Manager, you will create 
 your TOC, index, and glossary, and manage project files.</p></li>
</ul>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-left: -6pt; margin-bottom: 6pt;">The 
 WYSIWYG Editor is on the right. You'll create and edit your topic content 
 in the editor.</p></li>
</ul>

<p>Click an area on the image below for more information.</p>

<p><img src="../RH Project Manager.gif"
		x-maintain-ratio=TRUE
		usemap=#MAP203914485
		style="border-style: none;
				border: none;
				margin-left: 10px;
				margin-right: 0px;
				margin-top: 0px;
				margin-bottom: 0px;
				width: 520px;
				height: 544px;
				float: none;
				border-style: none;"
		width=520
		height=544
		border=0></p>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
