<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Starting the program</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=509>
<meta name=layout-width content=614>
<meta name=date content="11 16, 2001 6:18:13 PM">


 <meta name="topic-status" content="In Progress">
 <meta name="topic-priority" content="0">
 <meta name="topic-time-estimate" content="0">
 <meta name="topic-comment" content="">
 <meta name="topic-id" content="Starting the program"><!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Starting In-Edit IDE</h1>

<p>Tell your users the various ways to start your product in this topic. 
 For example:</p>

<p>Once installation is complete, you will see a In-Edit IDE icon on your 
 desktop.</p>

<h2>To start In-Edit IDE</h2>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-bottom: 6pt; margin-left: -6pt;">Click 
 the <span style="font-weight: bold;">In-Edit IDE</span> icon.</p></li>
</ul>

<p style="margin-bottom: 6pt; margin-left: 32px;">OR</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-bottom: 6pt; margin-left: -6pt;">From 
 the <span style="font-weight: bold;">Start</span> menu, select <span style="font-weight: bold;">Programs 
 - In-Edit IDE.</span></p></li>
</ul>

<p style="margin-bottom: 6pt; margin-left: -6pt;">&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
