<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>End-user License Agreement</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=405>
<meta name=layout-width content=614>
<meta name=date content="11 15, 2001 6:20:05 PM">


 <meta name="topic-status" content="In Progress">
 <meta name="topic-priority" content="0">
 <meta name="topic-time-estimate" content="0">
 <meta name="topic-comment" content="">
 <meta name="topic-id" content="End-user License Agreement"><!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>End-user License Agreement</h1>

<p>Some companies like to include their end-user license agreement so that 
 it is readily available to customers.</p>

<p class=Tip><span style="font-weight: bold;"><img src="..\Pencil.gif"
													x-maintain-ratio=TRUE
													style="border-style: none;
															border: none;
															width: 15px;
															height: 15px;
															float: none;"
													width=15
													height=15
													border=0> Tip:</span> 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->If your 
 license agreement is available in HTML (.HTM), FrameMaker (.MIF) or Word 
 format, you can use RoboHelp's import feature to easily add it to your 
 project. From the <span style="font-weight: bold;">File</span> menu, select 
 <span style="font-weight: bold;">Import</span>. </p>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
