<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Moving around in the Help</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name="template" content="Copyright.htt">
<meta NAME=MS-HAID CONTENT="Using this Help system">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=572>
<meta name=layout-width content=783>


 <meta name="topic-status" content="In Progress">
 <meta name="topic-priority" content="0">
 <meta name="topic-time-estimate" content="0">
 <meta name="topic-comment" content="">
 <meta name="topic-id" content="Using this Help system"><!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<!--(Generated Script Links)========================================-->
<!--(Generated Code)================================================-->
<!--(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)==================-->
<!--begin!kadov{{===================================================-->
<script type="text/javascript"
		language=JavaScript1.2
		x-save-method=compute-relative
		src="../ehlpdhtm.js"></script>
<script type="text/javascript"
		language=JavaScript1.2>
<!-- 
if( typeof( kadovFilePopupInit ) != 'function' ) kadovFilePopupInit = new Function();if( typeof( kadovTextPopupInit ) != 'function' ) kadovTextPopupInit = new Function();
 //-->
</script>

<!--}}end!kadov=====================================================-->
<!--(==============================================================)-->


<!--(Resources)=====================================================-->
<!--(Generated Code)================================================-->
<!--(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)==================-->

<div class=x-popup-text id=POPUP215180339  style='display: none; position: absolute' >
<!--kadov-resources-begin{{-->
<p>Hyperlinks are clickable items such as text (typically underlined and 
 displayed in a different color) that perform an action, such as displaying 
 another topic or a Web page. </p>
<!--}}kadov-resources-end-->
</div>

<div class=x-popup-text id=POPUP233464401 style='display: none; position: absolute' >
<!--kadov-resources-begin{{-->
<p>When you click a Related Topics or See Also button, a popup menu opens 
 that displays a list of topics you can go to. These topics are relevant 
 to what you are currently reading in the right pane. Click a topic in 
 the popup menu to open it in the right pane. </p>
<!--}}kadov-resources-end-->
</div>

<div class=x-popup-text id=POPUP215926441  style='display: none; position: absolute' >
<!--kadov-resources-begin{{-->
<p>When you click a drop-down hotspot, more information is displayed below 
 the hotspot. You only need to click the hotspots you want to read. To 
 hide the text, click the hotspot again. </p>
<!--}}kadov-resources-end-->
</div>

<div class=x-popup-text id=POPUP215818991  style='display: none; position: absolute' >
<!--kadov-resources-begin{{-->
<p>When you click an expanding hotspot, more information is displayed immediately 
 to the right of the hotspot. You only need to click the hotspots you want 
 to read. To hide the text, click the hotspot again. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p>
<!--}}kadov-resources-end-->
</div>

<div class=x-popup-text id=POPUP215894366  style='display: none; position: absolute' >
<!--kadov-resources-begin{{-->
<p>When you click a popup link, either a small window with text &quot;pops 
 up&quot; or a topic opens &quot;on top&quot; of the currently open topic. 
 Popups enable you to read additional information without leaving the current 
 topic. When you finish reading the information in the popup, you can click 
 any links it contains to jump to other information or close it by clicking 
 again.</p>
<!--}}kadov-resources-end-->
</div>

<div class=x-popup-text id=POPUP215903368  style='display: none; position: absolute' >
<!--kadov-resources-begin{{-->
<p>When you click the Previous or Next buttons, you can read through a 
 series of topics that are arranged in a particular order. This allows 
 you to learn about a subject in an easy-to-follow sequence.</p>
<!--}}kadov-resources-end-->
</div>

<!--(End Resources)=================================================-->


<h1>Moving around in the Help</h1>

<p>Since some of your users may not be familiar with how online Help works, 
 you may want to tell them how to navigate. Use the following text and 
 modify it according to the features you included in your Help project. 
 </p>

<p>Use the following types of navigation in the Help to move around and 
 display information (click the hotspots to read about each):</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p><a class=expandspot
							x-use-popup=#POPUP215180339
							x-popup-type=expanding
							href="javascript:kadovTextPopup(this)"
							id=a1>Hyperlinks:</a><!--begin!kadov{{--><script 
 type="text/javascript"
	language=JavaScript1.2><!--
kadovTextPopupInit('a1');
//--></script><!--}}end!kadov--> 
 </p></li>
	
	<li class=kadov-p><p><a class=expandspot
							x-use-popup=#POPUP233464401
							x-popup-type=expanding
							href="javascript:kadovTextPopup(this)"
							id=a2>Related Topics and See Also:</a><!--begin!kadov{{--><script 
 type="text/javascript"
	language=JavaScript1.2><!--
kadovTextPopupInit('a2');
//--></script><!--}}end!kadov--> 
 </p></li>
	
	<li class=kadov-p><p><a class=expandspot
							x-use-popup=#POPUP215926441
							x-popup-type=expanding
							href="javascript:kadovTextPopup(this)"
							id=a3>Drop-down text:</a><!--begin!kadov{{--><script 
 type="text/javascript"
	language=JavaScript1.2><!--
kadovTextPopupInit('a3');
//--></script><!--}}end!kadov--> 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p><a class=expandspot
							x-use-popup=#POPUP215818991
							x-popup-type=expanding
							href="javascript:kadovTextPopup(this)"
							id=a4>Expanding text:</a><!--begin!kadov{{--><script 
 type="text/javascript"
	language=JavaScript1.2><!--
kadovTextPopupInit('a4');
//--></script><!--}}end!kadov--> 
 </p></li>
	
	<li class=kadov-p><p><a class=expandspot
							x-use-popup=#POPUP215894366
							x-popup-type=expanding
							href="javascript:kadovTextPopup(this)"
							id=a6>Popups:</a><!--begin!kadov{{--><script 
 type="text/javascript"
	language=JavaScript1.2><!--
kadovTextPopupInit('a6');
//--></script><!--}}end!kadov--> 
 </p></li>
	
	<li class=kadov-p><p><a class=expandspot
							x-use-popup=#POPUP215903368
							x-popup-type=expanding
							href="javascript:kadovTextPopup(this)"
							id=a7>Browse sequences:</a><!--begin!kadov{{--><script 
 type="text/javascript"
	language=JavaScript1.2><!--
kadovTextPopupInit('a7');
//--></script><!--}}end!kadov--> 
 </p></li>
</ul>

<p>
<!--Metadata type="DesignerControl" startspan
<object CLASSID="clsid:A2F1FA63-C1E6-11d2-9140-006DC83B9955"
		ID=SeeAlso
		BORDER=0
		style="margin-top: 0px;
				margin-bottom: 0px;
				margin-left: 0px;
				margin-right: 0px;
				vertical-align: baseline;"
		align=bottom>
<param name="_Version" value="65536" >
<param name="_ExtentX" value="1640" >
<param name="_ExtentY" value="582" >
<param name="_StockProps" value="13" >
<param name="ForeColor" value="0" >
<param name="BackColor" value="11055248" >
<param name="UseButton" value="-1" >
<param name="UseText" value="0" >
<param name="ControlLabel" value="See Also" >
<param name="UseIcon" value="0" >
<param name="Items" value="Using this Help system$$**$$" >
<param name="Image" value="" >
<param name="FontInfo" value="Verdana,8,0,," >
<param name="_CURRENTFILEPATH" value="C:\DOCUMENTATION\FrozenCode\RhX3_1\Documentation\RoboHTML\Help Files\Samples\Using_this_Help_system\Moving_around_the_Help.htm" >
<param name="_ID" value="SeeAlso" >
<param name="DialogDisplay" value="1" >
<param name="Frame" value="" >
<param name="Window" value="" >
<param name="ChmFile" value="" >
<param name="DisableJump" value="0" >
</object>-->
<OBJECT
  CLASSID="clsid:ADB880A6-D8FF-11CF-9377-00AA003B7A11"
  ID="SeeAlso"  TYPE="application/x-oleobject">
  <PARAM  NAME="Command"  VALUE="ALink,MENU">
  <PARAM  NAME="Button"  VALUE="Text:See Also">
  <PARAM  NAME="Font"  VALUE="Verdana,8,0,,">
  <PARAM  NAME="Frame"  VALUE="">
  <PARAM  NAME="Item1"  VALUE="">
  <PARAM  NAME="Item2"  VALUE="Using this Help system">
</OBJECT>

<!--Metadata type="DesignerControl" endspan-->
 </p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
