<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Project Manager</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:43:13 PM">
<meta name=topic-status content="In Progress">
<meta name=topic-priority content=0>
<meta name=topic-time-estimate content=0>
<meta name=topic-comment content>
<meta name=topic-id content="Project Manager">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=735>
<meta name=layout-width content=702>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Le gestionnaire de projet</h1>

<p>Le gestionnaire de projet permet de rassembler, d'organiser et de trier 
 les différents fichiers composant un projet.</p>

<p>Il est possible notamment d'afficher cette organisation sous deux représentations 
 différentes :</p>

<p><span style="color: #a52182; font-weight: bold;"><img src="..\Captures\PhysicalVue.gif"
														x-maintain-ratio=TRUE
														style="border: none;
	width: 21px;
	height: 21px;
	float: none;
	border-style: none;
	border-style: none;"
														width=21
														height=21
														border=0> Vue Physique</span> 
 Fourni une représentation fidèle de l'organisation des fichiers sur le 
 disque</p>

<p><span style="color: #a52182; font-weight: bold;"><img src="..\Captures\LogicalVue.gif"
														style="border: none;
	width: 21px;
	height: 21px;
	border-style: none;
	border-style: none;"
														width=21
														height=21
														border=0> Vue Logique</span> 
 Fourni une représentation logique permettant une réorganisation libre 
 des fichiers en dossiers et sous-dossiers sans aucune relation avec la 
 disposition du disque dur.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
