<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>WYSIWYG Editor</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=509>
<meta name=layout-width content=614>
<meta name=date content="11 16, 2001 6:38:39 PM">


 <meta name="topic-status" content="In Progress">
 <meta name="topic-priority" content="0">
 <meta name="topic-time-estimate" content="0">
 <meta name="topic-comment" content="">
 <meta name="topic-id" content="WYSIWYG Editor"><!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>The WYSIWYG Editor</h1>

<p>The WYSIWYG Editor component allows you to easily create topic text. 
 Notice that this component actually provides 4 views (the tabs in the 
 lower right):</p>

<p><span style="font-weight: bold; color: #a52182;">WYSIWYG</span> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Allows 
 you to view and edit each topic.</p>

<p><span style="font-weight: bold; color: #a52182;">TrueCode</span> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->You 
 can view the actual HTML code for each topic.</p>

<p><span style="font-weight: bold; color: #a52182;">Link View</span> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->A 
 visual representation of the links in your project.</p>

<p><span style="font-weight: bold; color: #a52182;">Topics</span> <!--kadov_tag{{<spaces>}}-->&nbsp;&nbsp;<!--kadov_tag{{</spaces>}}-->A 
 list of all the topics in your project.</p>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
