<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Introduction to the Application Help sample</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=405>
<meta name=layout-width content=614>
<meta name=date content="11 15, 2001 6:15:44 PM">


 <meta name="topic-status" content="In Progress">
 <meta name="topic-priority" content="0">
 <meta name="topic-time-estimate" content="0">
 <meta name="topic-comment" content="">
 <meta name="topic-id" content="Introduction to the Application Help sample"><!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Introduction to this sample</h1>

<p>This sample shows a Help system for a fictional application called MyProduct 
 and a fictional company called MyCompany.</p>

<p>This type of project is appropriate for just about any software application 
 Help system. Software applications vary greatly, but there are common 
 characteristics in describing how to use them.</p>

<p>This sample is a WebHelp Help system. WebHelp is the de facto standard 
 for browser-based Help and runs on a wide variety of browsers and platforms.</p>

<p>You can easily use this sample as a basis for your application Help 
 system. <a href="Using_this_sample.htm">Click here</a> for instructions 
 how. In less than an hour, you can have the Help system for your application 
 well on it's way!</p>

<p class=Tip><span style="font-weight: bold;"><img src="Pencil.gif"
													x-maintain-ratio=TRUE
													style="border-style: none;
															border: none;
															width: 15px;
															height: 15px;
															float: none;"
													width=15
													height=15
													border=0> Tip:</span> 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->The Copyright 
 message at the bottom of each topic was created using RoboHelp's <span 
 style="font-weight: bold;">Topic Templates</span> feature. You can add 
 a copyright or other standard notice in one place (we added it in a footnote) 
 and it will be updated in multiple topics.</p>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
