<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Using this sample</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 15, 2001 6:48:31 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=572>
<meta name=layout-width content=783>


 <meta name="topic-status" content="In Progress">
 <meta name="topic-priority" content="0">
 <meta name="topic-time-estimate" content="0">
 <meta name="topic-comment" content="">
 <meta name="topic-id" content="Using this sample"><!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Using this sample</h1>

<p>You can use this sample as a basis for your Help systems.</p>

<h2>To use this sample</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-bottom: 12px;">Open this sample 
 project. It is located in the RoboHelp Program Files folder.</p></li>
	
	<li class=kadov-p><p style="margin-bottom: 12px;">Replace all instances 
 of MyProduct and MyCompany in the topic text with your product name and 
 company using RoboHelp HTML's Multi-File Find and Replace tool.</p></li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p><p style="margin-bottom: 12px;">Click the <span 
 style="font-weight: bold;">Tools</span> tab in the lower left.</p></li>
		
		<li class=kadov-p><p style="margin-bottom: 12px;">Double click 
 <span style="font-weight: bold;">Multi-File Find and Replace</span>.</p></li>
		
		<li class=kadov-p><p style="margin-bottom: 12px;">In the <span 
 style="font-weight: bold;">Find</span> field, type <span style="font-weight: bold;">MyProduct</span>.</p></li>
		
		<li class=kadov-p><p style="margin-bottom: 12px;">In the <span 
 style="font-weight: bold;">Replace</span> field, type your product name.</p></li>
		
		<li class=kadov-p><p style="margin-bottom: 12px;">In the <span 
 style="font-weight: bold;">Named</span> field, select <span style="font-weight: bold;">*.htm*.</span></p></li>
		
		<li class=kadov-p><p style="margin-bottom: 12px; font-weight: normal;">In 
 the <span style="font-weight: bold;">Where</span> field, ensure that the 
 path to the project folder, C:\Program Files\RoboHelp Office\RoboHTML\Samples\ApplicationHelp, 
 is displayed.</p></li>
		
		<li class=kadov-p><p style="margin-bottom: 12px; font-weight: normal;">Ensure 
 that the <span style="font-weight: bold;">Case Sensitive</span> and <span 
 style="font-weight: bold;">Include Subfolders</span> options are selected. 
 </p></li>
		
		<li class=kadov-p><p style="margin-bottom: 12px;">Click <span style="font-weight: bold;">Find</span>. 
 A list of files containing the word MyProduct is displayed.</p></li>
		
		<li class=kadov-p><p style="margin-bottom: 12px;">Click <span style="font-weight: bold;">Replace 
 All</span>.</p></li>
		
		<li class=kadov-p><p style="margin-bottom: 12px;">Repeat these 
 steps to replace MyCompany with your company name.</p></li>
	</ul>
	
	<li class=kadov-p><p style="margin-bottom: 12px;">Replace all instances 
 of MyProduct and MyCompany in the table of contents (use the Multi-File 
 Find and Replace tool and follow the procedures above, except in the <span 
 style="font-weight: bold;">Named</span> field, select *.hhc so that you 
 search the <span style="font-style: italic;">ApplicationHelp.HHC</span> 
 file).</p></li>
	
	<li class=kadov-p><p style="margin-bottom: 12px;">You can easily change 
 the colors used in this sample by modifying the style sheet <span style="font-style: italic;">Application 
 Help.CSS.</span></p></li>
	
	<li class=kadov-p><p style="margin-bottom: 12px;">To change the colors/icons 
 used in the top toolbar pane and left navigation pane, simply select a 
 different skin when you generate the project.</p></li>
</ol>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
